.body {
    background-color: #F2F2F2
}

.video {
    border: 1px solid #ccc;
    display: block;
    margin: 0 0 20px 0;
    float: left;
}

#canvas {
    margin-top: 20px;
    border: 1px solid #ccc;
    display: block;
}

#contentHolder .photo-1 {
    float: left;
    margin-left: 30%;
}

#picture {
    display: block;
    margin-left: 40%;
    background-color: #1ab394;
    width: 80px;
    height: 35px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-family: Arial;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}
#picture i{
    margin-top: 3px;
}
.picture:hover {
    background-color: #009688;
}

.picture:active {
    position: relative;
    top: 1px;
}

#contentHolder .photo-2 {
    float: right;
    margin-right: 20%;
}

#sc {
    display: block;
    background-color: #1ab394;
    width: 90px;
    height: 35px;
    margin-left: 100px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-family: Arial;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}
.sc:hover {
    background-color: #009688;
}

.sc:active {
    position: relative;
    top: 1px;
}
.login-1{
    float: right;
    margin-right: 50px;
    margin-top: 10px;
}
.logo-1{
    float: left;
    margin-left: 50px;
}
.login-1 ul a{
    color: #4d4d4d;
}

#user{
    width:300px;
}